.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    color: white;
}

.App-header p {
    text-align: left;
    width: 800px;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.perf-target {
    width: 800px;
    text-align: left;
    margin-bottom: 2rem;
}

.contents {
    width: 800px;
    text-align: left;
}

.perf-report {
    font-family: "Courier New", Courier, monospace;
    margin-top: 1rem;
}
